@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Unbounded:wght@200..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    background: #151516;
    color: #fff;
}

img {
    max-width: 100%;
}

/* ШАПКА СТРАНИЦЫ */

header button {
    background: #151516;
    border: #00AE81 1px solid;
    color: #fff;
    border-radius: 10px;
    width: 260px;
    height: 62px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Unbounded', sans-serif;
    transition: all 500ms ease;
    margin: 50px 50px;
    cursor: pointer;
}

header button:hover {
    border: #151516 1px solid;
    background: #00AE81;
    color: #151516
}

header .search {
    background: #D5D5D5;
    width: 609px;
    height: 59px;
    border-radius: 39px;
    color: #151516;
    font-size: 20px;
    font-weight: 200;
    float: right;
    margin-top: 50px;
    margin-right: 400px;

}

header .search p {
    padding-top: 15px;
    padding-left: 25px;
}

header .search img {
    float: right;
    margin-top: -28px;
    margin-right: 20px;
}

header h1 {
    font-weight: 600;
    font-size: 50px;
    color: #00AE81;
    float: right;
    margin-right: 35px;
    margin-top: -120px;
}
header .logo {
    font-weight: 100;
    font-size: 6px;
    float: right;
    margin-right: 30px;
    margin-top: -60px;
}

/* ОПИСАНИЕ ПРЕДМЕТА И ЗАГОЛОВОК */

body .naming {
    margin-top: 100px;
    padding-bottom: 200px;
}

body .naming img {
    float: left;
    margin-left: 40px;
    width: 400px;
}

body .naming h1 {
    font-size: 40px;
    font-weight: 300px;
    float: left;
    margin-top: 30px;
    margin-left: -390px;
}

body .naming p {
    float: right;
    text-align: center;
    font-size: 11px;
    font-weight: 300;
    width: 850px;
    margin-right: 70px;
    color: #e3e2e2;
    letter-spacing: 10%;
}

/* КНОПКИ С ФОРМУЛАМИ */

body .forms {
    padding-bottom: 500px;
}

/* ПЛОЩАДЬ КВАДРАТА */

body .forms .one {
    font-family: 'Unbounded', sans-serif;
    width: 350px;
    height: 90px;
    font-size: 21px;
    font-weight: 700;
    border: 1px #fff solid;
    background: #151516;
    border-radius: 50px;
    color: #fff;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    transition: all 500ms ease;
    cursor: pointer;
}

body .forms .one:hover {
    background: #fff;
    color: #151516;
}

/* ПЛОЩАДЬ ПРЯМОУГОЛЬНИКА */

body .forms .two {
    font-family: 'Unbounded', sans-serif;
    width: 420px;
    height: 90px;
    font-size: 23px;
    font-weight: 700;
    border: none;
    background: #00AE81;
    border-radius: 50px;
    color: #fff;
    float: left;
    margin-left: 80px;
    margin-top: 50px;
    transition: all 500ms ease;
    cursor: pointer;
}

body .forms .two:hover {
    background: #151516;
    color: #00AE81;
    border: 1px #00AE81 solid;
}

/* ПЛОЩАДЬ КРУГА */

body .forms .three {
    font-family: 'Unbounded', sans-serif;
    width: 300px;
    height: 90px;
    font-size: 21px;
    font-weight: 700;
    border: 1px solid #00AE81;
    background: #151516;
    border-radius: 50px;
    color: #fff;
    float: left;
    margin-left: 80px;
    margin-top: 50px;
    transition: all 500ms ease;
    cursor: pointer;
}

body .forms .three:hover {
    background: #00AE81;
    color: #151516;
    border: 1px #00AE81 solid;
}

/* ПЛОЩАДЬ ТРЕУГОЛЬНИКА */

body .forms .four {
    font-family: 'Unbounded', sans-serif;
    width: 400px;
    height: 90px;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid #fff;
    background: #151516;
    border-radius: 50px;
    color: #fff;
    float: left;
    margin-left: -1280px;
    margin-top: 200px;
    transition: all 500ms ease;
    cursor: pointer;
}

body .forms .four:hover {
    background: #151516;
    color: #00AE81;
    border: 1px #00AE81 solid;
}

/* ПЛОЩАДЬ РОМБА */

body .forms .five {
    font-family: 'Unbounded', sans-serif;
    width: 320px;
    height: 90px;
    font-size: 22px;
    font-weight: 700;
    border: 1px solid #00AE81;
    background: #151516;
    border-radius: 50px;
    color: #00AE81;
    float: left;
    margin-left: -760px;
    margin-top: 200px;
    transition: all 500ms ease;
    cursor: pointer;
}

body .forms .five:hover {
    background: #151516;
    color: #fff;
    border: 1px #fff solid;
}

/* ПЛОЩАДЬ ТРАПЕЦИИ */

body .forms .six {
    font-family: 'Unbounded', sans-serif;
    width: 350px;
    height: 90px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    background: #fff;
    border-radius: 50px;
    color: #151516;
    float: left;
    margin-left: -310px;
    margin-top: 200px;
    transition: all 500ms ease;
    cursor: pointer;
}

body .forms .six:hover {
    background: #151516;
    color: #fff;
    border: 1px #fff solid;
}

/* ПОДВАЛ */

body .podval {
    color: #848484;
    font-size: 15px;
    font-weight: 100;
    margin-top: 100px;
}

body .podval .collection {
    float: left;
    margin-left: 50px;
}

body .podval .designed {
    margin-top: 25px;
    float: left;
    margin-left: -235px;
    width: 257px;
}

body .podval .c {
    margin-left: 630px;
}

body .podval .num {
    margin-top: 0px;
    float: right;
    width: 257px;
}
body .podval .mail {
    margin-top: 25px;
    margin-right: -230px;
    float: right;
    width: 257px;
    margin-bottom: 50px;
}