@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Unbounded:wght@200..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    background: #151516;
    color: #fff;
}

img {
    max-width: 100%;
}

/* ШАПКА СТРАНИЦЫ */

header button {
    background: #151516;
    border: #00AE81 1px solid;
    color: #fff;
    border-radius: 10px;
    width: 260px;
    height: 62px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Unbounded', sans-serif;
    transition: all 500ms ease;
    margin: 50px 50px;
    cursor: pointer;
}

header button:hover {
    border: #151516 1px solid;
    background: #00AE81;
    color: #151516
}

header h1 {
    float: right;
    color: #00AE81;
    font-weight: 600;
    margin: 50px 50px;
    font-size: 50px;
}

header p {
    float: right;
    font-weight: 100;
    font-size: 6px;
    margin-top: 110px;
    margin-right: -195px;
}

body .hero {
    padding-bottom: 800px;
}

/* ЭТО ФИЗИКА ОПИСЫВАЕТСЯ!!! */

body .hero .physic {
    border: #00AE81 2px solid;
    border-radius: 40px;
    background: #151516;
    width: 360px;
    height: 513px;
    float: left;
    margin-left: 50px;
    margin-top: 140px;
}

body .hero .physic h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 79px;
    margin-top: 40px;
    margin-left: 40px;
}

body .hero .physic button {
    background: linear-gradient(180deg,rgba(1, 220, 163, 1) 0%, rgba(0, 73, 54, 1) 88%);
    border-radius: 14px;
    border: none;
    width: 172px;
    height: 72px;
    color: #fff;
    font-size: 25px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    margin-left: 40px;
    margin-top: 200px;
    transition: all 500ms ease; 
    cursor: pointer;
}

body .hero .physic button:hover {
    background: #151516;
    border: 1px solid #00AE81;
    color: #00AE81
}

/* ЭТО ИНФОРМАТИКА ОПИСЫВАЕТСЯ!!! */

body .hero .computer-science {
    border: none;
    border-radius: 40px;
    background: linear-gradient(180deg,rgba(1, 220, 163, 1) 0%, rgba(0, 73, 54, 1) 88%);
    width: 412px;
    height: 537px;
    float: left;
    margin-left: 100px;
    margin-top: 130px;
}

body .hero .computer-science h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 79px;
    margin-top: 40px;
    margin-left: 40px;
}

body .hero .computer-science button {
    background: #151516;
    border-radius: 14px;
    border: none;
    width: 172px;
    height: 72px;
    color: #fff;
    font-size: 25px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    margin-left: 40px;
    margin-top: 145px;
    transition: all 500ms ease;
    cursor: pointer; 
}

body .hero .computer-science button:hover {
    background: #151516;
    border: 1px solid #00AE81;
    color: #00AE81
}

/* ЭТО ГЕОМЕТРИЯ ОПИСЫВАЕТСЯ!!! */

body .hero .geometry {
    border: #00AE81 2px solid;
    border-radius: 40px;
    background: #151516;
    width: 360px;
    height: 513px;
    float: right;
    margin-right: 50px;
    margin-top: 140px;
}

body .hero .geometry h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 79px;
    margin-top: 40px;
    margin-left: 40px;
}

body .hero .geometry button {
    background: linear-gradient(180deg,rgba(1, 220, 163, 1) 0%, rgba(0, 73, 54, 1) 88%);
    border-radius: 14px;
    border: none;
    width: 172px;
    height: 72px;
    color: #fff;
    font-size: 25px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    margin-left: 40px;
    margin-top: 125px;
    transition: all 500ms ease; 
    cursor: pointer;
}

body .hero .geometry button:hover {
    background: #151516;
    border: 1px solid #00AE81;
    color: #00AE81
}

/* ПОДВАЛ!!!! */

body .podval {
    color: #848484;
    font-size: 15px;
    font-weight: 100;
}

body .podval span {
    position: relative;
    font-size: 600px;
    font-weight: 700;
    color: #00AE81;
    filter: blur(30px);
    margin-left: -200px;
}

body .podval .info .collection {
    position: absolute;
    float: left;
    margin-left: 50px;
}

body .podval .info .designed {
    position: absolute;
    margin-top: 25px;
    float: left;
    margin-left: 50px;
    width: 257px;
}

body .podval .info .c {
    position: absolute;
    margin-left: 630px;
}

body .podval .info .num {
    margin-top: 0px;
    float: right;
    width: 257px;
    margin-right: -50px;
}
body .podval .info .mail {
    margin-top: 25px;
    margin-right: -230px;
    float: right;
    width: 257px;
    margin-bottom: 50px;
}
