@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Unbounded:wght@200..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    background: #151516;
    color: #fff;
}

a {
    text-decoration: none;
    
}

img {
    max-width: 100%;
}

/* ШАПКА САЙТА */

header {
    padding: 34px 24px;
}

header span {
    color: #fff;
    font-weight: 200;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 10%;
    text-align: left;
}

header nav {
    background: #313131;
    float: right;
    width: 50%;
    padding: 15px 40px;
    border-radius: 27px;
    margin-right: 340px;
    margin-top: -30px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #DCDCDC;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 10%;
    transition: all 500ms ease;
}

header nav ul li a:hover {
    color: #737373

}

header button {
    background: #00AE81;
    border-radius: 27px;
    width: 252px;
    height: 42px;
    border: none;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    font-size: 17px;
    font-weight: 200;
    float: right;
    margin-left: 790px;
    margin-top: -50px;
    letter-spacing: 10%;
    transition: 500ms ease;
    cursor: pointer;
}

header button:hover {
    transform: scale(1.1);
    background: #04795a;
}

/* ТЕЛО ОБЛОЖКИ (HERO) */

body .hero {
    padding-bottom: 520px;
}


body .hero span.one {
    font-size: 140px;
    font-weight: 600;
    color: #272727;
    margin-top: 30px;
    filter: blur(4px);
    z-index: 1;
    position: relative
}

body .hero span.two {
    font-size: 140px;
    font-weight: 600;
    color: #272727;
    margin-left: 253px;
    filter: blur(4px);
    z-index: 1;
    position: relative
}

body .hero span.three {
    font-size: 140px;
    font-weight: 600;
    color: #272727;
    float: right;
    margin-right: 100px;
    filter: blur(4px);
    z-index: 1;
    position: relative
}

body .hero span.four {
    font-size: 90px;
    font-weight: 600;
    color: #272727;
    float: right;
    margin-right: 100px;
    text-align: right;
    filter: blur(4px);
    z-index: 1;
    position: relative
}

body .hero h1 {
    z-index: 1;
    font-size: 200px;
    font-weight: 500;
    color: #00AE81;
    position: absolute;
    margin-left: 420px;
    margin-top: -220px;
}

body .hero p.yo {
    z-index: 1;
    position: absolute;
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    margin-top: 15px;
    margin-left: 400px;
    letter-spacing: 10%;
}

body .hero p.tech {
    z-index: 1;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    width: 552px;
    position: absolute;
    margin-top: 179px;
    margin-left: 35px;
    letter-spacing: 15%;
}

body .hero button.second {
    z-index: 1;
    position: absolute;
    background-color: #00AE81;
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    font-family: 'Unbounded', sans-serif;
    border: #151516;
    border-radius: 16px;
    width: 261px;
    height: 32px;
    margin-left: 35px;
    margin-top: 350px;
    letter-spacing: 10%;
    transition: 500ms ease;
    cursor: pointer;
}

body .hero button.second:hover {
    border-width: 1px;
    border-style: solid;
    border-color: #00AE81;
    background: #151516;
    color: #00AE81;
}

/* ОПИСАНИЕ ПРОЕКТА */

body .what-is-this p {
    margin-top: 50px;
    border-top: #00AE81 1px solid;
    border-bottom: #00AE81 1px solid;
    padding: 50px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    width: 800px;
    margin-left: 280px;
    letter-spacing: 12%;
}

/* ТЕЛО ВТОРОГО БЛОКА / СТАТИСТИКА*/

body .second-block {
    margin-top: 200px;
    padding-bottom: 400px;
    border-bottom: 1px #6B6B6B solid;
}

/* ПЕРВЫЙ КВАДРАСТ СТАТИСТИКИ */

body .second-block .first-static {
    float: right;
    margin-top: 200px;
}

body .second-block .first-static .squard1 {
    float: right;
    margin-right: 60px;
}

body .second-block .first-static .line1 {
    float: right;
    margin-right: 60px;
    margin-top: -170px;
    
}

body .second-block .first-static h2 {
    text-align: right;
    margin-right: 70px;
    margin-top: -165px;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 10%;
}

body .second-block .first-static p {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    margin-right: 70px;
    margin-top: 10px;
    width: 250px;
    letter-spacing: 10%;
}

/* ВТОРОЙ КВАДРАСТ СТАТИСТИКИ */

body .second-block .second-static {
    float: right;
    margin-top: 230px;
}

body .second-block .second-static .squard1 {
    float: right;
    margin-right: 20px;
    width: 220px;
}

body .second-block .second-static .line1 {
    float: right;
    margin-right: 20px;
    margin-top: -125px;
    
}

body .second-block .second-static h2 {
    text-align: right;
    margin-right: 30px;
    margin-top: -125px;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 10%;
}

body .second-block .second-static p {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    margin-right: 30px;
    margin-top: 10px;
    width: 230px;
    letter-spacing: 10%;
}

/* ТРЕЙТИЙ КВАДРАСТ СТАТИСТИКИ */

body .second-block .third-static {
    float: right;
    margin-top: 260px;
}

body .second-block .third-static .squard1 {
    float: right;
    margin-right: 20px;
    width: 190px;
}

body .second-block .third-static .line1 {
    float: right;
    margin-right: 20px;
    margin-top: -110px;
    
}

body .second-block .third-static h2 {
    text-align: right;
    margin-right: 30px;
    margin-top: -105px;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 10%;
}

body .second-block .third-static p {
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    margin-right: 30px;
    margin-top: 10px;
    width: 250px;
    letter-spacing: 10%;
}

body .second-block h1 {
    font-weight: 500;
    font-size: 45px;
    width: 447px;
    margin-left: 35px;
}

/* ТРЕТИЙ БЛОК СТРАНИЦЫ */

body .third-block {
    padding-top: 60px;
    border: #6B6B6B 1px solid;
    padding-bottom: 900px;
}

body .third-block h1 {
    font-size: 36px;
    font-weight: 500;
    width: 495px;
    margin-left: 35px;
}

/* ПЕРВЫЙ ГРАФИК (63%) */

body .third-block .first-fact {
    float: right;
}

body .third-block .first-fact h1 {
    color: #00AE81;
    font-size: 150px;
    font-weight: 500;
    float: right;
    text-align: right;
    margin-right: 57px;
    padding-bottom: 0px;
}

body .third-block .first-fact p {
    color: #00AE81;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 15%;
    float: right;
    width: 420px;
    margin-top: 190px;
    text-align: right;
    margin-right: -480px;
}

body .third-block .first-fact img {
    float: right;
    margin-right: -480px;
    margin-top: 260px;
}

/* ВТОРОЙ ГРАФИК (30-70%) */

body .third-block .second-fact {
    float: left;
    margin-top: 200px;
}

body .third-block .second-fact h1 {
    color: #fff;
    font-size: 100px;
    width: 650px;
    font-weight: 500;
    float: left;
    text-align: left;
    margin-right: 57px;
    padding-bottom: 0px;
}

body .third-block .second-fact p {
    float: left;
    margin-top: 130px;
    width: 500px;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 15%;
    margin-left: -700px;
}

body .third-block .second-fact img {
    float: left;
    margin-left: -700px;
    margin-top: 200px;
}

/* ЧЕТВЕРТЫЙ БЛОК: ВЫБОР КЛАССОВ */

body .fourth-block {
    padding-bottom: 1700px;
}

body .fourth-block h1 {
    margin-top: 70px;
    margin-left: 310px;
    font-weight: 100;
    font-size: 70px;
    letter-spacing: 15%;

}

/* БЛОК С СЕДЬМЫМ КЛАССОМ */

body .fourth-block .seven-class {
    border: #A7A7A7 solid 1px;
    border-radius: 40px;
    width: 490px;
    height: 430px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

body .fourth-block .seven-class h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

body .fourth-block .seven-class button {
    font-size: 18px;
    font-weight: 100;
    border: #00AE81 1px solid;
    background: #151516;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    padding: 5px 15px;
    border-radius: 25px;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
    transition: all 500ms ease;
}

body .fourth-block .seven-class button:hover {
    background: #00AE81;
    color: #151516;
    cursor: pointer;
}

body .fourth-block .seven-class h3 {
    font-size: 13px;
    font-weight: 200;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    width: 450px;
    letter-spacing: 15%;
}

body .fourth-block .seven-class h5 {
    font-size: 12px;
    font-weight: 100;
    width: 450px;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    letter-spacing: 7%;
}

/* БЛОК С ВОСЬМЫМ КЛАССОМ */

body .fourth-block .eight-class {
    border: #00AE81 solid 1px;
    border-radius: 40px;
    width: 490px;
    height: 430px;
    float: right;
    margin-left: 130px;
    margin-top: 100px;
    margin-right: 150px;
}

body .fourth-block .eight-class h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

body .fourth-block .eight-class button {
    font-size: 18px;
    font-weight: 100;
    border: #A7A7A7 1px solid;
    background: #151516;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    padding: 5px 15px;
    border-radius: 25px;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
    transition: all 500ms ease;
}

body .fourth-block .eight-class button:hover {
    background: #A7A7A7;
    color: #151516;
    cursor: pointer;
}

body .fourth-block .eight-class h3 {
    font-size: 13px;
    font-weight: 200;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    width: 430px;
    letter-spacing: 15%;
}

body .fourth-block .eight-class h5 {
    font-size: 12px;
    font-weight: 100;
    width: 420px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    letter-spacing: 7%;
}

/* БЛОК С ДЕВЯТЫМ КЛАССОМ */

body .fourth-block .nine-class {
    border: #00AE81 solid 1px;
    border-radius: 40px;
    width: 490px;
    height: 430px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

body .fourth-block .nine-class h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

body .fourth-block .nine-class button {
    font-size: 18px;
    font-weight: 100;
    border: #A7A7A7 1px solid;
    background: #151516;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    padding: 5px 15px;
    border-radius: 25px;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
    transition: all 500ms ease;
}

body .fourth-block .nine-class button:hover {
    background: #A7A7A7;
    color: #151516;
    cursor: pointer;
}

body .fourth-block .nine-class h3 {
    font-size: 13px;
    font-weight: 200;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    width: 450px;
    letter-spacing: 15%;
}

body .fourth-block .nine-class h5 {
    font-size: 12px;
    font-weight: 100;
    width: 450px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    letter-spacing: 7%;
}

/* БЛОК С ДЕСЯТЫМ КЛАССОМ */

body .fourth-block .ten-class {
    border: #A7A7A7 solid 1px;
    border-radius: 40px;
    width: 490px;
    height: 430px;
    float: right;
    margin-left: 130px;
    margin-top: 100px;
    margin-right: 150px;
}

body .fourth-block .ten-class h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

body .fourth-block .ten-class button {
    font-size: 18px;
    font-weight: 100;
    border: #00AE81 1px solid;
    background: #151516;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    padding: 5px 15px;
    border-radius: 25px;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
    transition: all 500ms ease;
}

body .fourth-block .ten-class button:hover {
    background: #00AE81;
    color: #151516;
    cursor: pointer;
}

body .fourth-block .ten-class h3 {
    font-size: 13px;
    font-weight: 200;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    width: 430px;
    letter-spacing: 15%;
}

body .fourth-block .ten-class h5 {
    font-size: 12px;
    font-weight: 100;
    width: 420px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    letter-spacing: 7%;
}

/* БЛОК С ОДИННАДЦАТЫМ КЛАССОМ */

body .fourth-block .eleven-class {
    border: #00AE81 solid 1px;
    border-radius: 40px;
    width: 1160px;
    height: 430px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

body .fourth-block .eleven-class h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

body .fourth-block .eleven-class button {
    font-size: 18px;
    font-weight: 100;
    border: #A7A7A7 1px solid;
    background: #151516;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    padding: 10px 60px;
    border-radius: 25px;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
    transition: all 500ms ease;
}

body .fourth-block .eleven-class button:hover {
    background: #A7A7A7;
    color: #151516;
    cursor: pointer;
}

body .fourth-block .eleven-class h3 {
    font-size: 24px;
    font-weight: 200;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    width: 931px;
}

body .fourth-block .eleven-class h5 {
    font-size: 14px;
    font-weight: 100;
    width: 931px;
    float: left;
    margin-left: 30px;
    margin-top: 35px;
}

/* FAQ-ВОПРОСЫ */

body .five-block {
    padding-bottom: 950px;
}

body .five-block h1 {
    float: left;
    font-size: 150px;
    font-weight: 100;
    margin-left: 60px;
}


body .five-block .questions {
    float: left;
    margin-left: -190px;
    max-width: 1001px;
    margin-top: 300px;
}

/* ПЕРВЫЙ БЛОК (ВОПРОС) */

body .five-block .questions .first {
    border-bottom: #DCDCDC 1px solid;
    border-top: 1px #DCDCDC solid;
    padding: 25px 0px;
}

body .five-block .questions .first h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px;
}

body .five-block .questions .first p {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 12%;
}

/* ВТОРОЙ БЛОК (ВОПРОС) */

body .five-block .questions .second {
    border-bottom: #DCDCDC 1px solid;
    padding: 25px 0px;
}

body .five-block .questions .second h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px;
}

body .five-block .questions .second p {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 12%;
}

/* ТРЕТИЙ БЛОК (ВОПРОС) */

body .five-block .questions .third {
    border-bottom: #DCDCDC 1px solid;
    padding: 25px 0px;
}

body .five-block .questions .third h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px;
}

body .five-block .questions .third p {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 12%;
}

/* ПОДВАЛ */

body .podval {
    color: #848484;
    font-size: 15px;
    font-weight: 100;
}

body .podval .collection {
    float: left;
    margin-left: 50px;
}

body .podval .designed {
    margin-top: 25px;
    float: left;
    margin-left: -235px;
    width: 257px;
}

body .podval .c {
    margin-left: 630px;
}

body .podval .num {
    margin-top: 0px;
    float: right;
    width: 257px;
}
body .podval .mail {
    margin-top: 25px;
    margin-right: -230px;
    float: right;
    width: 257px;
    margin-bottom: 50px;
}
